<link rel="stylesheet" href="index.css">
<footer>
    <div class="footer2">
        <a href="/">Back to home page</a>
    </div>

    <div class="footer3">
        <div class="f3">Get to know us
            <ul class="ul-design">
                <li><a href="/about">About us</a></li>
                <li><a href="/Team">Our team</a></li>
                <li><a href="/mission">Our mission</a></li>
                <li><a href="/updates">Future updates</a></li>
            </ul>
        </div>
        <div class="f33">Connect with us
            <ul class="ul-design">
                <li><a href="https://www.facebook.com">Facebook <i class="fa-brands fa-square-facebook"></i></a></li>
                <li><a href="https://www.twitter.com">Twitter <i class="fa-brands fa-square-twitter"></i></a></li>
                <li><a href="https://www.instagram.com">Instagram <i class="fa-brands fa-square-instagram"></i></a></li>
            </ul>
        </div>
        <div class="f333">Make money with us
            <ul class="ul-design">
                <li><a href="#">Host your house</a></li>
                <li><a href="#">Sell your house</a></li>
                <li><a href="#">Put your house on rent</a></li>
                <li><a href="/market">Market status</a></li>
                <li><a href="#">Our top renters</a></li>
                <li><a href="/affeliate">Become an affiliate</a></li>
                <li><a href="/ad">Advertise your property</a></li>
            </ul>
        </div>
        <div class="f3333">Let us help you
            <ul class="ul-design">
                <li><a href="/setup">Setup tutorial</a></li>
                <li><a href="#">Your account</a></li>
                <li><a href="/transaction">100% transaction protection</a></li>
                <li><a href="/app">Ghar.com App download</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </div>
    </div>

    <div class="f-info-brand">
        &copy; Ghar.com private limited
    </div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</footer>
